.fill{
  display: table;
  width:100%;
  height:100%;
}

.zero-five{
  display: table;
  width:100%;
  height:50%;
  background-position:center;
  background-size:cover;
}

.zero-six{
  display: table;
  width:100%;
  height:60%;
  background-position:center;
  background-size:cover;
}

.zero-seven{
  display: table;
  width:100%;
  height:70%;
  background-position:center;
  background-size:cover;
}

.zero-eight{
  display: table;
  width:100%;
  height:80%;
  background-position:center;
  background-size:cover;
}

.zero-nine{
  display: table;
  width:100%;
  height:90%;
  background-position:center;
  background-size:cover;
}

.fill .centered-block, .zero-five .centered-block, .zero-six .centered-block, .zero-seven .centered-block, .zero-eight .centered-block, .zero-nine .centered-block {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  h1, h2 {
    margin-left: 50px;
    margin-right: 50px;
    color: #FFF;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.80)    
  }
}