.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #0e0e0e;

  p {
    color: #eee;
  }
  h1, h2, h3, h4 {
    color: #fff;
    //text-transform: uppercase;
    font-weight: 200;
  }

  h1 {
    margin-top: 0;
  }
  h4 {
    font-size: 1.2em;
  }

  ul li {
    color: #fff;
    text-align: left;
    font-size: .85em;
    font-weight: 200;
    line-height: 1.45em;
    
    a {
      color: #fff;
      text-decoration: none;

      &:visited, &:active {
        color: #fff;
        text-decoration: none;
      }

      &:hover {
        color: #ffbbbb;
        text-decoration: none;
      }
    }
  }
}
